{
  "bracketSpacing": true,
  "printWidth": 80,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["**/*.css", "**/*.scss", "**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
