// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Design Library Theme
// libs/shared/ui-design-library/src/styles/design-library-themes/_default-theme.scss
@use "design-library-main" as dl-theme;
@use "./app/app.component.theme" as app;
@use "../../../libs/packages/charts/theming" as charts;
@use "../../../libs/patterns/ui-patterns/_theming" as charts-samples;
@use "../../../libs/packages/material/index" as ngpat;

// Tailwind needs to come before material
// to maintain material styles as the priority
// css to support the material framework.
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  pre:not(.inline) code {
    @apply rounded-lg border-slate-600 border border-solid;
  }
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$default-primary: mat.define-palette(mat.$teal-palette);
$default-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);
$default-warn: mat.define-palette(mat.$deep-orange-palette);
$default-typography: mat.define-typography-config();
$default-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $default-primary,
      accent: $default-accent,
      warn: $default-warn
    ),
    typography: $default-typography
  )
);
$default-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $default-primary,
      accent: $default-accent,
      warn: $default-warn
    ),
    typography: $default-typography
  )
);

// $blue
//$theme: components.override-dark-theme-background(
//    $default-dark-theme,
//    map-get($default-dark-theme, primary),
//    -26%, // $lightness
//    -35%  // $saturation
//);

// $override theme
$theme: ngpat.override-dark-theme-background(
  $default-dark-theme,
  map-get($default-dark-theme, primary),
  -12%,
  // $lightness
  -20% // $saturation
);

//@include mat.core-theme($theme);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@include mat.all-component-typographies($default-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);
@include dl-theme.design-library-theme($theme);
@include app.theme($theme);
@include charts.theme($theme);
@include charts-samples.theme($theme);
@include ngpat.theme($theme);

// https://material.angular.io/guide/theming#customizing-density
// https://m2.material.io/design/layout/applying-density.html#components
// https://m3.material.io/foundations/layout/understanding-layout/overview
.density-1 {
  @include mat.button-density(-1);
  @include mat.icon-density(-1);
  @include mat.form-field-density(-1);
  @include mat.input-density(-1);
}

.density-2 {
  @include mat.button-density(-2);
  @include mat.icon-density(-2);
  @include mat.form-field-density(-2);
  @include mat.input-density(-2);
}

.density-3 {
  @include mat.button-density(-3);
  @include mat.icon-density(-3);
  @include mat.form-field-density(-3);
  @include mat.input-density(-3);
}

// Apply the light theme only when the user prefers light themes.
//@media (prefers-color-scheme: light) {
//  // Use the `-color` mixins to only apply color styles without reapplying the same
//  // typography and density styles.
//  @include mat.core-color($default-light-theme);
//  @include mat.button-color($default-light-theme);
//  @include mat.sidenav-color($default-light-theme);
//  @include mat.toolbar-color($default-light-theme);
//  @include mat.expansion-color($default-light-theme);
//  @include mat.card-color($default-light-theme);
//  //@include mat.input-color($default-light-theme);
//  @include mat.form-field-color($default-light-theme);
//
//  @include app.color($default-light-theme);
//  @include dl-theme.design-library-color($default-light-theme);
//  @include charts.color($default-light-theme);
//  @include charts-samples.color($default-light-theme);
//  @include ngpat.color($default-light-theme);
//}

//.dark-theme {
//  @include mat.core-color($theme);
//  @include mat.button-color($theme);
//  @include mat.sidenav-color($theme);
//  @include mat.toolbar-color($theme);
//  @include mat.expansion-color($theme);
//  @include mat.card-color($theme);
//  //@include mat.input-color($theme);
//  @include mat.form-field-color($theme);
//
//  @include app.color($theme);
//  @include dl-theme.design-library-color($theme);
//  @include charts.color($theme);
//  @include charts-samples.color($theme);
//  @include ngpat.color($theme);
//}

.light-theme {
  @include mat.core-color($default-light-theme);
  @include mat.button-color($default-light-theme);
  @include mat.sidenav-color($default-light-theme);
  @include mat.toolbar-color($default-light-theme);
  @include mat.expansion-color($default-light-theme);
  @include mat.card-color($default-light-theme);
  //@include mat.input-color($default-light-theme);
  @include mat.form-field-color($default-light-theme);

  @include app.color($default-light-theme);
  @include dl-theme.design-library-color($default-light-theme);
  @include charts.color($default-light-theme);
  @include charts-samples.color($default-light-theme);
  @include ngpat.color($default-light-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
