// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Design Library Theme
// libs/shared/ui-design-library/src/styles/design-library-themes/_default-theme.scss
@use "design-library-main" as dl-theme;
@use "./app/app.component.theme" as app;
@use "../../../libs/packages/charts/_theming" as charts;
@use "../../../libs/patterns/ui-patterns/_theming" as charts-samples;
@use "../../../libs/packages/material/_theming" as components;

// Plus imports for other components in your app.
//@tailwind base;
//@tailwind components;
@tailwind utilities;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@include mat.all-component-typographies(dl-theme.$default-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes(dl-theme.$default-dark-theme);
@include dl-theme.design-library-theme(dl-theme.$default-dark-theme);
@include app.theme(dl-theme.$default-dark-theme);
@include charts.theme(dl-theme.$default-dark-theme);
@include charts-samples.theme(dl-theme.$default-dark-theme);
@include components.theme(dl-theme.$default-dark-theme);

// https://material.angular.io/guide/theming#customizing-density
// https://m2.material.io/design/layout/applying-density.html#components
// https://m3.material.io/foundations/layout/understanding-layout/overview
.density-1 {
  @include mat.button-density(-1);
  @include mat.icon-density(-1);
  @include mat.form-field-density(-1);
  @include mat.input-density(-1);
}

.density-2 {
  @include mat.button-density(-2);
  @include mat.icon-density(-2);
  @include mat.form-field-density(-2);
  @include mat.input-density(-2);
}

.density-3 {
  @include mat.button-density(-3);
  @include mat.icon-density(-3);
  @include mat.form-field-density(-3);
  @include mat.input-density(-3);
}




// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
  // Use the `-color` mixins to only apply color styles without reapplying the same
  // typography and density styles.
  @include mat.core-color(dl-theme.$default-light-theme);
  @include mat.button-color(dl-theme.$default-light-theme);
  @include mat.sidenav-color(dl-theme.$default-light-theme);
  @include mat.toolbar-color(dl-theme.$default-light-theme);
  @include mat.expansion-color(dl-theme.$default-light-theme);
  @include mat.card-color(dl-theme.$default-light-theme);
  //@include mat.input-color(dl-theme.$default-light-theme);
  @include mat.form-field-color(dl-theme.$default-light-theme);

  @include app.color(dl-theme.$default-light-theme);
  @include dl-theme.design-library-color(dl-theme.$default-light-theme);
  @include charts.color(dl-theme.$default-light-theme);
  @include charts-samples.color(dl-theme.$default-light-theme);
  @include components.color(dl-theme.$default-light-theme);
}

.dark-theme {
  @include mat.core-color(dl-theme.$default-dark-theme);
  @include mat.button-color(dl-theme.$default-dark-theme);
  @include mat.sidenav-color(dl-theme.$default-dark-theme);
  @include mat.toolbar-color(dl-theme.$default-dark-theme);
  @include mat.expansion-color(dl-theme.$default-dark-theme);
  @include mat.card-color(dl-theme.$default-dark-theme);
  //@include mat.input-color(dl-theme.$default-dark-theme);
  @include mat.form-field-color(dl-theme.$default-dark-theme);


  @include app.color(dl-theme.$default-dark-theme);
  @include dl-theme.design-library-color(dl-theme.$default-dark-theme);
  @include charts.color(dl-theme.$default-dark-theme);
  @include charts-samples.color(dl-theme.$default-dark-theme);
  @include components.color(dl-theme.$default-dark-theme);
}

.light-theme {
  @include mat.core-color(dl-theme.$default-light-theme);
  @include mat.button-color(dl-theme.$default-light-theme);
  @include mat.sidenav-color(dl-theme.$default-light-theme);
  @include mat.toolbar-color(dl-theme.$default-light-theme);
  @include mat.expansion-color(dl-theme.$default-light-theme);
  @include mat.card-color(dl-theme.$default-light-theme);
  //@include mat.input-color(dl-theme.$default-light-theme);
  @include mat.form-field-color(dl-theme.$default-light-theme);


  @include app.color(dl-theme.$default-light-theme);
  @include dl-theme.design-library-color(dl-theme.$default-light-theme);
  @include charts.color(dl-theme.$default-light-theme);
  @include charts-samples.color(dl-theme.$default-light-theme);
  @include components.color(dl-theme.$default-light-theme);
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
