:host {
  display: block;
  position: relative;
  z-index: 100;

  .mat-toolbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .right-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
}
