<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="-left-2"
    *ngIf="showSideOpenButton"
    (click)="openSidenav.emit(true)">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="grow"></div>
  <div class="right-actions">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>palette</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="selectTheme('light-theme')">
        Light Theme
      </button>
      <button mat-menu-item (click)="selectTheme('dark-theme')">
        Dark Theme
      </button>
      <button mat-menu-item (click)="removeTheme()">
        Remove Theme Override
      </button>
    </mat-menu>

    <design-library-github-logo
      [githubLink]="githubLink"></design-library-github-logo>
<!--    <ng-pat-user-account-menu (doLogin)="doLogin()"></ng-pat-user-account-menu>-->
  </div>
</mat-toolbar>
