@use '../../../../libs/packages/material/src/lib/styles/core/style/variables';

:host {

  mat-sidenav-content {
    overflow: unset;
    display: flex;
    flex-direction: column;
    height: 100vh;

    transition: margin-left variables.$swift-ease-in-duration variables.$fast-out-slow-in-timing-function;
  }

}
