<mat-sidenav-container>
  <mat-sidenav
    [mode]="(sideNavSvc.mode$ | ngrxPush) || 'side'"
    [opened]="sideNavSvc.opened$ | ngrxPush"
    (openedChange)="sideNavSvc.setIsOpen($event)">
    <ng-pat-sidenav-menu [menuID]="menuID" [sidenavData]="sidenavData">
      <ng-pat-sidenav-header [height]="64">
        <design-library-ng-pat-logo
          [height]="28"
          [width]="28"
          ngPatLogo></design-library-ng-pat-logo>
        <span ngPatTitle>Ng Patterns</span>
      </ng-pat-sidenav-header>
    </ng-pat-sidenav-menu>
  </mat-sidenav>

  <mat-sidenav-content
    [style.margin-left.px]="sideNavSvc.expandedWidth$ | ngrxPush">
    <ng-patterns-app-navbar
      [showSideOpenButton]="sideNavSvc.showNavBarOpenButton$ | ngrxPush"
      (openSidenav)="openSideNav()"></ng-patterns-app-navbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
