<ng-patterns-app-navbar></ng-patterns-app-navbar>
<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="chartsOpen$ | ngrxPush">
        <mat-expansion-panel-header>
          <mat-panel-title> Charts </mat-panel-title>
        </mat-expansion-panel-header>
        <a [routerLink]="['/charts/bullet-chart']" routerLinkActive="active"
          >Bullet Chart</a
        >
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="componentsOpen$ | ngrxPush">
        <mat-expansion-panel-header>
          <mat-panel-title> Components </mat-panel-title>
        </mat-expansion-panel-header>
        <a
          [routerLink]="['/components/color-picker']"
          routerLinkActive="active">
          Color Picker
        </a>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="materialOpen$ | ngrxPush">
        <mat-expansion-panel-header>
          <mat-panel-title> Material </mat-panel-title>
        </mat-expansion-panel-header>
        <a
          [routerLink]="['/material/density']"
          routerLinkActive="active">
          Density
        </a>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="rxjsOpen$ | ngrxPush">
        <mat-expansion-panel-header>
          <mat-panel-title> RxJS</mat-panel-title>
        </mat-expansion-panel-header>
        <a [routerLink]="['/rxjs/zone-pipe']" routerLinkActive="active">
          Zone Pipe
        </a>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="storeOpen$ | ngrxPush">
        <mat-expansion-panel-header>
          <mat-panel-title>Store</mat-panel-title>
        </mat-expansion-panel-header>
        <a [routerLink]="['/store/browser-storage']" routerLinkActive="active">
          Browser Storage
        </a>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
