@use "ngpat-material" as ngpat;

:host {
  mat-sidenav-content {
    overflow: unset;
    display: flex;
    flex-direction: column;
    height: 100vh;

    transition: margin-left ngpat.$swift-ease-in-duration
      ngpat.$fast-out-slow-in-timing-function;
  }
}
